@import "../../../bin/tesla/7/sites_d7/all/themes/custom/tesla_theme/scss/variables";
@import "../../../bin/tesla/7/sites_d7/all/themes/custom/tesla_theme/scss/mixins";
@import "../../../bin/tesla/7/sites_d7/all/themes/custom/tesla_theme/scss/functions";
@import "_vehicle-badges";

// custom variables
$range-color: #008dff;

#range {
    font-family: "Gotham A","Gotham B","M Hei PRC W45","HelveticaNeue-Regular","Helvetica Neue Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative;
    text-align: center;
}

.batt-stats {
    position: relative;
    width: 75%; /*728px;*/
    margin-left: auto;
    margin-right: auto;
}

.wf-datalabel {
    position: relative;
    float:left;
    width: 25%;
}

#range .wf-datalabel-content {
    position: relative;
    color: #008dff;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 100;
}

#range .wf-datalabel-units {
    position: relative;
    display: inline-block;
    color: #008dff;
    font-size: 1rem;
    font-style: normal;
    font-weight: 100;
    vertical-align: super;
    margin-top: -30px;
}

#range .section-content {
    position: relative;
    background-color: #fff;
}

#range .range-hero {
    background: url(images/models_rangemodule_hero.jpg) center no-repeat;
    background-size: cover; /*1200px 469px;*/
    width: 100%;
    min-height: 350px;
    margin-left: auto;
    margin-right: auto;
}

#range .range-hero-wheels-left {
    width: 100px;
    height: 100px;
}
#range .range-hero-wheels-left.ninteen {
    background: url(images/rangemodule_wheels_left_19.png) center no-repeat;
    background-size: cover;
    left: 24.6%;
    position: absolute;
    top: 36.1%;
}
#range .range-hero-wheels-left.twentyone {
    background: url(images/rangemodule_wheels_left_21.png) center no-repeat;
    background-size: cover;
    left: 24.6%;
    position: absolute;
    top: 36.1%;
}
#range .range-hero-wheels-right {
    width: 100px;
    height: 100px;
}
#range .range-hero-wheels-right.ninteen {
    background: url(images/rangemodule_wheels_right_19.png) center no-repeat;
    background-size: cover;
    left: 63.8%;
    position: absolute;
    top: 36.4%;
}
#range .range-hero-wheels-right.twentyone {
    background: url(images/rangemodule_wheels_right_21.png) center no-repeat;
    background-size: cover;
    left: 63.8%;
    position: absolute;
    top: 36.4%;
}

.controls {
    margin-top: 50px;
    position: relative;
    clear:both;
}

.controls .wf-datalabel {
    width: 190px;
}

.controls .wf-datalabel-container {}

.controls .controls-datalabel-title {
    text-align: left;
    font-size: 16px;
    color: #333;
}

.controls .controls-control-box {
    margin-top: 15px;
    position: relative;
    width: 190px;
    height: 65px;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    float: left;
}

.controls .controls-control-box.selected {
    border: 2px solid #3399ff;
}

.controls .controls-data {
    position: relative;
    display: inline-block;
    margin-top: 8px;
    color: #000;
    font-size: 35px;
    font-weight: 200;
}

.controls .controls-unit {
    position: relative;
    display: inline-block;
    font-size: 15px;
    color: #000;
}

.controls .controls-arrows {
    position: relative;
    display:  inline-block;
    float: right;
    font-size: 20px;
    margin-right:8px;
}

.controls .separator {
    width: 1px;
    border-right: 2px solid #ccc;
    margin-right: 27px;
    position: relative;
    float: left;
    height: 106px;
    margin-left: 27px;
}

.controls #controls-ac {
    position: relative;
    float: left;
    width: 120px;
    height: 130px;
    margin-left: 19px;
    margin-right: -13px;
}

.controls #controls-ac-onoff {
    width: 120px;
    height: 130px;
}

.controls #controls-ac-onoff.acoff {
    background: url(images/models_rangemodule_acoff.png) center 14px no-repeat;
    background-size: 120px 121px;
}

.controls #controls-ac-onoff.acon {
    background: url(images/models_rangemodule_acon.png) center 14px no-repeat;
    background-size: 120px 121px;
}

.controls #controls-ac-onoff.heaton {
    background: url(images/models_rangemodule_heaton.png) center 14px no-repeat;
    background-size: 120px 121px;
}

.controls #controls-ac-onoff.heatoff {
    background: url(images/models_rangemodule_heatoff.png) center 14px no-repeat;
    background-size: 120px 121px;
}

#controls-temp .controls-unit {
    font-size:28px;
    font-weight: 100;
    vertical-align: super;
}

.controls #controls-wheels-19 {
    cursor: pointer;
}

.controls #controls-wheels-21 {
    margin-left: 15px;
    cursor: pointer;
}

.controls .controls-arrows-up {
    display: block;
    cursor: pointer;
    background: url(images/models_rangemodule_arrowup.png) center 5px no-repeat;
    background-size: 41px 21px;
    width: 41px;
    height: 21px;
}
.controls .controls-arrows-up.disabled {
    background: url(images/models_rangemodule_arrowup_gray.png) center 5px no-repeat;
    background-size: 41px 21px;
}
.controls .controls-arrows-down {
    display: block;
    cursor: pointer;
    background: url(images/models_rangemodule_arrowdown.png) center -5px no-repeat;
    background-size: 41px 21px;
    width: 41px;
    height: 21px;
}
.controls .controls-arrows-down.disabled {
    background: url(images/models_rangemodule_arrowdown_gray.png) center -5px no-repeat;
    background-size: 41px 21px;
}

.controls .controls-separator {
    background: url(images/models_rangemodule_separator.png) center no-repeat;
    background-size: 41px 21px;
    width: 41px;
    height: 20px;
}

#controls-wheels-19 .controls-data,
#controls-wheels-21 .controls-data {
    margin-top: 0px;
    font-size: 20px;
}

.controls-wheels-19-icon {
    display: inline-block;
    margin-top: 11px;
}

.controls-wheels-21-icon {
    display: inline-block;
    margin-top: 11px;
}




























